@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    margin: 0;
    background-image: url(../yakarta3/photo/08144724e14944914ca4b0b3d2f851d00.jpg);
    background-size: cover;
}
header{
    background-color:#E9F2FF;
    display: flex;
}
.silka{
    background-color: #5c81b8;
    margin-left: 1vw;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.dob{
    margin-left: 2vw;
    display: flex;
    justify-content: center;
    padding-left: 1vw;
    padding-right: 1vw;
    text-decoration: none;
}
h3{
    margin-left:0.5vw;
    color: #0048B4;
    font-family: "Inter", sans-serif;
}
#b{
    margin-left: 1vw;
    margin-right: 1vw;
    color:white;
}
h1{
    color: #0048B4;
    font-family: "Inter", sans-serif;
}
footer{
    padding-left: 1vw;
}
main{
    padding: 1vw;
    display: flex;
    flex-wrap: wrap;
}
#okno{
    width: 400px;
    height: 475px;
    border-radius: 10px;
    background-color: #c3dbff;
    display: flex;
    justify-content: start;
    align-items: end;
    margin-left: 3vw;
    margin-top: 2vw;
}
.okno{
    text-decoration: none;
}
h2{
    color: #0048B4;
    font-family: "Inter", sans-serif;
    margin-left: 4%;
    size: 150%;
}
.one{
    background-image: linear-gradient(to bottom, rgba(195, 219, 255, 0.048) 0%, rgb(129, 174, 243) 75%), url(../yakarta3/photo/d09e94bba265ac920ea841c47f0c08e5.jpg);
    background-size: cover;
}
.two{
    background-image: linear-gradient(to bottom, rgba(195, 219, 255, 0.021) 0%, rgb(129, 174, 243) 75%), url(../yakarta3/photo/экопоколение_1667х1050_сайт_1.png);
    background-size:cover;
}
.tre{
    background-image: linear-gradient(to bottom, rgba(195, 219, 255, 0.021) 0%, rgb(129, 174, 243) 75%), url(../yakarta3/photo/EHS.jpg);
    background-size:cover;
}
.chet{
    background-image: linear-gradient(to bottom, rgba(195, 219, 255, 0.021) 0%, rgb(129, 174, 243) 75%), url(../yakarta3/photo/Lzr_zOa6YK8.jpg);
    background-size:cover;
}
.five{
    background-image: linear-gradient(to bottom, rgba(195, 219, 255, 0.021) 0%, rgb(129, 174, 243) 75%), url(../yakarta3/photo/full_4x5uzUi4.jpg);
    background-size:cover;
}